<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	
    <appender name="STDOUT"
        class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                [%green(%date{HH:mm:ss.SSS})] %highlight(%-5level) [%thread] %class{5}.%blue(%M): %message%n%ex{2}%n
            </pattern>
        </encoder>
    </appender>

   
 
   
    <logger name="online.gladikov" level="INFO" />

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

<!-- "%black", "%red", "%green","%yellow","%blue", "%magenta","%cyan", "%white", "%gray", "%boldRed","%boldGreen", "%boldYellow", "%boldBlue", "%boldMagenta""%boldCyan", "%boldWhite" and "%highlight"  -->
</configuration>
